# root files
.env
.vscode
*.zip

# root directories
prometheus-data/
grafana-storage/
.venv/

# app/ directories
app/__pycache__/
app/logs/
app/.venv/
app/.env

# terraform/ directories
terraform/**/.terraform/

# terraform/ files
terraform/**/.terraform*
terraform/**/terraform.tfstate*
terraform/**/*.plan
terraform/**/*.tfvars
terraform/**/*.auto.tfvars
terraform/**/*.lock.hcl
terraform/**/*tfplan*

# vagrant
vagrant/.vagrant/
vagrant/shared/
vagrant/*-console.log

# monitoring
monitoring/**/.env
monitoring/**/generated/
