# root files
.env
.vscode/
.docker/
*.zip

# app/ directories
app/**/__pycache__/
app/logs/
app/**/.venv*/
app/.env

# terraform/ directories
terraform/**/.terraform/

# terraform/ files
terraform/**/.terraform*
terraform/**/terraform.tfstate*
terraform/**/*.plan
terraform/**/*.tfvars
terraform/**/*.auto.tfvars
terraform/**/*.lock.hcl
terraform/**/*tfplan*

# vagrant
vagrant/.vagrant/
vagrant/**/.vagrant/
vagrant/shared/
vagrant/**/shared/
vagrant/*-console.log
vagrant/**/*-console.log

# monitoring
monitoring/**/.env
monitoring/**/generated/

# libvirt
libvirt/iso/
libvirt/disks/

#vpn
vpn/**/generated-certs/
